.socialvalue {
    .socialvalue_text {
        width: 336px;
        height: 452px;
        font-family: 'PT Mono';
        font-style: normal;
        font-size: 25px;
        line-height: 28px;
        text-align: right;
        display: inline-block;
        margin-top: 40px;
        margin-left: 260px;
        margin-right: 90px;
    }
    .fish {
        width: 316px;
        height: 442px;
    }
}